replicaCount: 1

image:
  repository: python
  pullPolicy: IfNotPresent
  tag: "3.11-alpine"

nameOverride: ""
fullnameOverride: "broken-app"

service:
  type: ClusterIP
  port: 80
  # This is the problem: app listens on 8080, but Service sends to 9090.
  targetPort: 9090

containerPort: 8080

resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 50m
    memory: 32Mi

containerCommand:
  - python
containerArgs:
  - "-m"
  - "http.server"
  - "8080"
