replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: "latest"

nameOverride: ""
fullnameOverride: "netpolicy-app"

resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 50m
    memory: 32Mi

labels:
  app.kubernetes.io/name: netpolicy-app
  app.kubernetes.io/version: "1.0"
  exercise: network-policy
