apiVersion: v1
kind: Service
metadata:
  name: {{ include "brokenservice.fullname" . }}
  labels:
    {{- include "brokenservice.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: http
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
  selector:
    {{- include "brokenservice.selectorLabels" . | nindent 4 }}
