replicaCount: 1

image:
  repository: python
  pullPolicy: IfNotPresent
  tag: "3.11-alpine"

nameOverride: ""
fullnameOverride: "memory-app"

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 250Mi

# This is the problem: memory limit is intentionally too low.
# The container allocates ~200Mi and gets OOMKilled.
containerCommand:
  - python

containerArgs:
  - "-c"
  - "import time; a=' '*(200*1024*1024); print('allocated_bytes', len(a)); time.sleep(3600)"

labels:
  app.kubernetes.io/name: memory-hog
  app.kubernetes.io/version: "1.0"
